<div class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li class="active"></li>
    <li></li>
    <li></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <img class="slide-image" src="http://m.tuniucdn.com/fb2/t1/G1/M00/BC/7A/Cii9EVacgiWIL9DIAARHB-d68p0AABg1gA2CRYABEcf223_w800_h0_c0_t0.jpg" alt="">
    </div>
    <div class="item">
      <img class="slide-image" src="http://bpic.588ku.com/back_pic/00/04/20/33/5e0e8bd6981ad279a8899a5451c76f4b.jpg!/fh/300/quality/90/unsharp/true/compress/true" alt="">
    </div>
    <div class="item">
      <img class="slide-image" src="http://bpic.588ku.com/back_pic/00/04/20/33/68d95ea22e87fbe2c3dc6b5e40829322.jpg!/fh/300/quality/90/unsharp/true/compress/true" alt="">
    </div>
    <a class="left carousel-control" href="javascript:$('.carousel').carousel('prev')">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="javascript:$('.carousel').carousel('next')">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>
</div>
