<nav class="navbar navbar-default navopacity">
  <div class="container navbarheight">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Brand" src="../assets/images/4.png" class="imgbrand">
      </a>
    </div>
  </div>
</nav>

<div class="container logintop">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-9">
    </div>
    <div class="col-sm-6 col-md-3">
      <router-outlet></router-outlet>
    </div>
  </div>
</div> <!-- /container -->
<div class="backgroundimage">
  <img src="../assets/images/3.jpg" alt="" class="imgsize">
</div>
